<app-header-one [themeLogo]="themeLogo"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'watch'" [buttonText]="'shop now'">
    </app-slider>
</section>
<!-- Home slider End -->

<section class="p-4">
    <div class="container">
        <div class="row">            
            <div class="col-sm-12">
                <h2 class="text-center p-3">DEPORTES INTERNACIONALES</h2>               
                <p [ngStyle]="{'font-size': '2rem','line-height': '37px' }" class="p-3">
                    Somos una empresa dedicada a la venta y distribución de artículos deportivos de alta calidad, diseñados para satisfacer 
                    las necesidades de los deportistas más exigentes.<br>
                    En nuestra tienda encontrarás todo lo que necesitas para practicar tu deporte favorito, desde equipamiento y accesorios 
                    de entrenamiento hasta ropa deportiva de última generación. Trabajamos con las marcas más reconocidas del mercado, 
                    ofreciendo productos innovadores y de vanguardia que te ayudarán a mejorar tu rendimiento y alcanzar tus objetivos.
                </p>
            </div>
        </div>
    </div>
</section>
<!--  logo section start-->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center p-3">Nuestras Marcas</h2>  
                <app-logo [logos]="logos"></app-logo>
            </div>
        </div>
    </div>
</section>
<!--  logo section End-->

