<app-header-one [themeLogo]="themeLogo"></app-header-one>

<!-- Home slider start-->
<section class="p-0">
    <app-slider [sliders]="sliders" [textClass]="'text-center'" [category]="'watch'" [buttonText]="'shop now'">
    </app-slider>
</section>
<!-- Home slider End -->

<section class="p-4">
    <div class="container">
        <div class="row">            
            <div class="col-sm-12">
                <div class="title1 p-2">
                    <h2 class="title-inner1 text-center ">DEPORTES INTERNACIONALES</h2>               
                </div>
                <p [ngStyle]="{'font-size': '2rem','line-height': '37px' }" class="p-3">
                    Somos una empresa dedicada a la venta y distribución de artículos deportivos de alta calidad, diseñados para satisfacer 
                    las necesidades de los deportistas más exigentes.<br>
                    En nuestra tienda encontrarás todo lo que necesitas para practicar tu deporte favorito, desde equipamiento y accesorios 
                    de entrenamiento hasta ropa deportiva de última generación. Trabajamos con las marcas más reconocidas del mercado, 
                    ofreciendo productos innovadores y de vanguardia que te ayudarán a mejorar tu rendimiento y alcanzar tus objetivos.
                </p>
            </div>
        </div>
    </div>
</section>
<!--  logo section start-->
<section class="blog blog-bg section-b-space p-0 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title1 p-2"> 
                    <h2 class="title-inner1 text-center p-3">Nuestras Marcas</h2>  
                </div>              
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">                
                <owl-carousel-o  class="no-arrow">
                    <ng-container>
                      <ng-template carouselSlide>
                        <div class="col-md-12">              
                              <img [src]="'assets/images/slider/gola.png'" class="img-fluid" alt="blog">
                              <span></span>
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="col-md-12">  
                            <img [src]="'assets/images/slider/joma.png'" class="img-fluid" alt="blog">
                            <span></span>
                        </div>
                      </ng-template>
                      <ng-template carouselSlide>
                        <div class="col-md-12">  
                            <img [src]="'assets/images/slider/Wilson.png'" class="img-fluid" alt="blog">
                            <span></span>
                        </div>
                      </ng-template>

                    </ng-container>
                  </owl-carousel-o>
            </div>
        </div>
        <br>
        <br>
    </div>
</section>
<!--  logo section End-->

