<app-breadcrumb [title]="'Contact'" [breadcrumb]="'Contact'"></app-breadcrumb>
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
               
                <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=800&amp;height=500&amp;hl=en&amp;q=deporinter&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/">Capcuttemplate.org</a></div><style>.mapouter{position:relative;text-align:right;width:800px;height:500px;}.gmap_canvas {overflow:hidden;background:none!important;width:800px;height:500px;}.gmap_iframe {width:800px!important;height:500px!important;}</style></div>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Telefonos</h6>
                            </div>
                            <div class="media-body">
                                <p>+503 2296-0846</p>
                                
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Direccion</h6>
                            </div>
                            <div class="media-body">
                                <p>Colonia Avila, Calle A #133, San Salvador</p>
                                <p>El Salvador</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Email</h6>
                            </div>
                            <div class="media-body">
                                <p>info@deporinter.net</p>
                                
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="theme-form" data-toggle="validator">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Nombres</label>
                            <input type="text" class="form-control" id="name" placeholder="Ingrese su Nombre" required="required">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Apellidos</label>
                            <input type="text" class="form-control" id="last-name" placeholder="Ingrese su Apellido" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="review">Telefono</label>
                            <input type="text" class="form-control" id="review" placeholder="Ingrese su Telefono" required="">
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Ingrese su Email" required="">
                        </div>
                        <div class="col-md-12">
                            <label for="review">Mensaje</label>
                            <textarea class="form-control" placeholder="Escriba su mensaje" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->